
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>show VM</title>
</head>
<body>
	<table class="table table-striped" style="border: 1px solid #dddddd; margin-top: 10px" >
		<thead>
			<tr>
				<th style="text-align:center;">$name</th>
			</tr>
		</thead>
		<tbody id="app_package">
			<tr id="$message">
				<td width="10px" style="text-align:center;">$message</td>
		</tbody>
	</table>
	$name</br>
	$message</br>
	<h2>你好，everyone</h2></br>
	
	
	<he>i18n</h2></br>
	$i18n.get('hello.world') </br>
	
	
	<hr>
	${i18n.getName("")}</br>
	${i18n.get("hello.world")}</br>
</body>
</html>